<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>{$admin.position}{notempty name="$admin.page_title"} - {$admin.page_title}{/notempty}</title>
  <link rel="icon" href="{$admin.favicon}" type="image/ico">
  <meta name="description" content="{$admin.desc}">
  {volist name="admin_css" id="item"}
<link href="{$item}" rel="stylesheet">
  {/volist}
  {block name="style"}
  <!--stylesheets-->
  {/block}
  <style>
    .lyear-layout-content {
      padding-left: 0;
      padding-top: 0;
    }
    .page-footer
    {
      height: 25px;
      line-height: 25px;
      width: 100%;
      text-align: right;
    }
  </style>
</head>

<body>
   <!--页面主要内容-->
   <main class="lyear-layout-content">
    <div class="container-fluid">
      {block name="content"}{/block}
      <footer class="page-footer">
        <span class="copyright">{$admin.copyright|raw}</span>
      </footer>
    </div>
  </main>
  <!--End 页面主要内容-->

  {volist name="admin_js" id="item"}
<script type="text/javascript" src="{$item}" charset="utf-8"></script>
  {/volist}
  
  {block name="script"}
  <!--scripts-->
  {/block}
  <script type="text/javascript" src="__LIGHTYEARADMIN__/js/main.min.js" charset="utf-8"></script>
</body>

</html>